
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.env
drizzle.config.ts
package-lock.json
playwright.config.ts
tsconfig.json
package.json
