.spinner {
    width: 60x;
    height: 60px;

    border: 5px solid #d9d9d9;
    border-top: 5px solid #28959f;

    border-radius: 50%;

    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
    gap: 20px;
}